* {
  box-sizing: border-box;
}
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/wine-pattern.jpg");
  color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 7rem;
}
