* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(
      rgba(255, 255, 255, 0.504),
      rgba(255, 255, 255, 0.812)
    ),
    url("../images/wine-pattern.jpg");
  color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 7rem;
}
a {
  text-decoration: none;
  color: #00ada8;
  font-size: 5rem;
}
